@model DeliveryHistory
<body style="background-color: #a1baab;">
    @if (Model.ListGoing.Count == 0)
    {
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 300px;">
            <div>
                <img src="~/Image/OrderEmty.jpg" />
            </div>
            <div style="font-weight:bold; font-size: 20px;">
                <p>Chưa có đơn hàng</p>
            </div>
        </div>
    }
    @foreach (var order in Model.ListGoing)
    {
        <div id="order-info" style="cursor: pointer; color: #516F5D; text-decoration: dashed;" onclick="redirectToOrderDetail(@order.ID)">
        <div class="order-element id">Mã đơn hàng: @order.ID</div>
        <div class="order-element date">Ngày đặt: @order.Date</div>
        <div class="order-element address">@order.Address</div>
        <div class="order-element price">Tiền thu: @order.Price đ</div>
    </div>
    }
</body>
<style>
    #order-info {
        border-radius: 10px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }

    .order-element {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .id {
        font-size: 30px;
        font-weight: bold;
    }

    .date {
        color:darkgray;
        border-bottom: 1px solid #ccc;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 7px;
        text-align: left;
    }
</style>
<script>
    function redirectToOrderDetail(orderID) {
        var url = '@Url.Action("OrderDetail", "Home")' + '?orderID=' + orderID;
        window.location.href = url;
    }
</script>

